@charset "UTF-8";

.container {
	display: inline-block;
	width: 100%;
	padding: 20px;
	margin: 30px 100px 30px 100px;
	background-color: #669984;
}

.row .icon { 
	width: 20%;
	display: block;
}


h1 {
	font-family: 'Nova Mono', Courier New, monospace;
	font-size: 50px;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

p {
	line-height: 1.5;
	font-size: 15px;
	font-family: WildWest, Arial;
}

.row {
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.top {
	margin-bottom: 30px;
	flex-direction: column;
}

.top * {
	transition: all 0.5s ease;
}

.top *:hover {
	padding-left: 10px;
}


.isanicon {
	width:50%;
	height:50%;
	display: block;
	margin: 0 auto;
	transition: all 0.2s ease;
	margin-top: 10px;
}
.isanicon:hover {
	margin-bottom: 10px;
	margin-top: 0px;
}

.info {
	font-family: 'Nova Mono', Courier New, monospace;
	font-size: 12px;
	font-weight: bold;
	padding: 10px;
	background-color: #FFF;
	margin: 30px;
}